$image: "../img/m-h-day.jpg";
$font1: 'Source Sans Pro', sans-serif;
$font2: 'Hind', sans-serif;
$font3: 'Fresca', sans-serif;
$font-d-n: #2c2f3c;
$button-color: #699900;
$button-active: #006D80;
$button-hover: green;
$section-bg: white;
$font-families: ("font1": $font1, "font2": $font2, "font3": $font3);
$footer-bg-color: #21232e;
$underline: #14a0c7;
$from: #659411;
$to: #2f5dce;

