$image: "../img/m-h-day.jpg";
$font1: 'Source Sans Pro', sans-serif;
$font2: 'Hind', sans-serif;
$font3: 'Fresca', sans-serif;
$font-families: ("font1": $font1, "font2": $font2, "font3": $font3);
$footer-bg-color: #21232e;